* {
  font-family: "Cabin", sans-serif;
  font-family: "Cairo", sans-serif;
  /* box-sizing: border-box; */
}

main {
  background-color: rgb(255, 248, 255);
}

h4 {
  text-decoration: underline;
}
p {
  text-align: justify;
}

li {
  list-style-type: none;
}

.btn-container a {
  margin-top: 25px;
  border: 2px solid black;
  height: 80px;
}

/* ***** MOBILE ***** */

@media screen and (max-width: 576px) {
  /* NAVBAR */
  .logo {
    height: 40px;
  }
  .navbar-brand {
    visibility: hidden;
  }
  /* HOME SECTION */
}

@media screen and (min-width: 576px) {
  .animals-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .carousel-item img {
    height: 60vh;
  }
}

@media screen and (min-width: 768px) {
  .text-about {
    display: flex;
  }
  .aboutme p {
    margin-left: 30px;
  }
}
